*{
  margin: 0px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

#leJeu{
  width: 900px;
  height: 600px;
  padding: 26px 26px 0px 26px;
  background-image: url("img/cadre.png");
  background-repeat: no-repeat;
}

#boiteJeu{
  height: 580px;
  width: 900px;
  background-image: url("img/bg300.png");
  background-repeat: repeat;
  padding: 0px;
}

#cadreAlt{
  position: absolute;
  margin:-26px;
  opacity: 0;
  float: left;
}

#boiteBrique{
  position:relative;
  height: 200px;
  top: 50px;
}

#menu{
  background-image: url("img/defaite.png");
  width: 679px;
  height: 157px;
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 136px;
  display: none;
}

/*******************************************************************************
******************************* Style du palet *********************************
*******************************************************************************/

#boitePalet{
  position: absolute;
  height: 44px;
  width: 256px;
  top: 576px;
  left: 346px;
  overflow: hidden;
  display: none;
}

#palet{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#imgPalet{
  position: absolute;
}

#fondVie{
  position: absolute;
  top: 12px;
  left: 60px;
  height: 13px;
  width: 137px;
  z-index: 1;
  background-color: black;
}

#imgVie{
  background-color: rgb(50,200,200);
  height: 100%;
}

/*******************************************************************************
***************************** Style de la balle ********************************
*******************************************************************************/

#balle{
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("img/boule-magique.png");
  border-radius: 100%;
  display: none;
}

/*******************************************************************************
***************************** Style des briques ********************************
*******************************************************************************/

.brique{
  position: absolute;
  width: 75px;
  height: 25px;
  overflow: hidden;
}

.metal{
  background-image: url("img/brique_grise.png");
}

.cassable{
  background-image: url("img/brique.png");
}

.pv1{
  background-color: #1a9e71;
}
.pv2{
  background-color: #336699;
}
.pv3{
  background-color: #333366;
}
.pv4{
  background-color: #663366;
}
.pv5{
  background-color: #54102e;
}
.pv6{
  background-color: #2a0404;
}

.blink{
  position: absolute;
}
