body{
  background-color: #383d50;
  background-image: url("img/fond-repeat.png");
  background-repeat: repeat-x;
  height:685px;
}

#leJeu{
  position: relative;
  z-index:1;
}

.disclaimer{
  position: absolute;
  left:170px;
  top: 100px;
  display: none;
  z-index: 4;
}

#leCV{
  margin: 50px 0px 65px 0px;
}

#cv{
  background-image: url("img/cv.png");
}

#github{
  background-image: url("img/cv.png");
}

.unlockable{
  position absolute;
  margin: 17px;
}

#wrapper{
left: calc(50% - 476px);
position: absolute;
z-index:2;
}

#imgFond{
position:absolute;
left: calc(50% - 592px);
}

#boiteTitre{
  width: 952px;
  height: 50px;
  background-color: #e0d5ce;
}

#imgTitre{
  left: 237px;
  top: 5px;
  position: relative;
  z-index:3;
}
